<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

    <Appenders>

        <Console
                name="console"
                target="SYSTEM_OUT">

            <PatternLayout
                    charset="UTF-8"
                    pattern="%d{HH:mm:ss.SSS} %-5level [%t] %c{1}.%M:%L - %m%n"/>

        </Console>

    </Appenders>

    <Loggers>

        <Logger
                name="org.scoula"
                level="DEBUG"
                additivity="false">

            <AppenderRef ref="console"/>

        </Logger>

        <Logger
                name="org.springframework.security"
                level="INFO"
                additivity="false">

            <AppenderRef ref="console"/>

        </Logger>

        <Logger
                name="org.springframework"
                level="INFO"
                additivity="false">

            <AppenderRef ref="console"/>

        </Logger>

        <Root level="INFO">

            <AppenderRef ref="console"/>

        </Root>

    </Loggers>

</Configuration>